.App {
  text-align: center;
  padding: 50px 0px 100px 0px;
  background: lightgrey;
}

.all-team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member-card {
  width: 250px;
  height: 250px;
  margin: 25px;
  background: white;
  border-radius: 10px;
}

.member-name {
  color: #3895d3;
}

form {
  display: flex;
  justify-content: center;
}

.form-item {
  margin: 0px 10px 0px 10px;
}
